@font-face {
  font-family: 'FuturaPT-DemiObl';
  src: url('FuturaPT-DemiObl.eot');
  src: url('FuturaPT-DemiObl.eot?#iefix') format('embedded-opentype'),
       url('FuturaPT-DemiObl.svg#FuturaPT-DemiObl') format('svg'),
       url('FuturaPT-DemiObl.ttf') format('truetype'),
       url('FuturaPT-DemiObl.woff') format('woff'),
       url('FuturaPT-DemiObl.woff2') format('woff2');
  font-weight: demi;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('FuturaPT-Demi.eot');
  src: url('FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
       url('FuturaPT-Demi.svg#FuturaPT-Demi') format('svg'),
       url('FuturaPT-Demi.ttf') format('truetype'),
       url('FuturaPT-Demi.woff') format('woff'),
       url('FuturaPT-Demi.woff2') format('woff2');;
  font-weight: demi;
  font-style: normal;
}

